{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="h-100">
                    <div class="row mb-3 pb-1">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Settings</h4>
                                </div>

                                <div class="card-body">
                                    {{ form_start(form, { 'action': path('settings') }) }}
                                        <div class="row">
                                            {% for key, f in form %}
                                                {% if f == form|last %}
                                                    <div class="col-lg-12">
                                                        {{ form_widget(f,{ 'attr': {'class': 'btn btn-primary'}}) }}
                                                    </div>
                                                {% elseif key == 'isInMaintenance' %}
                                                    <div class="col-12">
                                                        <div class="check-button-settings form-check form-switch form-check-right form-switch-lg form-check-danger mb-4" dir="ltr">
                                                            <input class="form-check-input input-settings" type="checkbox" role="switch" id="{{ field_name(f) }}"
                                                            value="{{ field_value(f) }}" name="{{ field_name(f) }}">
                                                            <input id="hiddenInput" name="{{ field_name(f) }}" type="hidden" value="{{ field_value(f) }}">
                                                            {{ form_label(f, null, { 'label_attr': {'class': 'form-check-label', 'for' : field_name(f)}}) }}
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="col-12">
                                                        <div class="mb-4">
                                                            {{ form_label(f, null, { 'label_attr': {'class': 'form-label'}}) }}
                                                            {{ form_widget(f, { 'attr': {'class': 'form-control'}}) }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div><!--end row-->
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
    $(function(){

        $('.input-settings').val() == 1 ? $('.input-settings').attr('checked', true) : $('.input-settings').attr('checked', false)

        $('.input-settings').on('change', function(e){
            this.value = this.checked ? 1 : 0;
            $('#hiddenInput').val(this.checked ? 1 : 0)
            $(this).attr('checked', this.checked)
        })
        
    })
    </script>
    
{% endblock %}